<% include('../layouts/header.ejs') %>
<h1 style="text-align: center; font-family: Arial, sans-serif; color: #4CAF50;">Forget Password</h1>

<form
  action=""
  method="post"
  style="
    width: 300px;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  "
>
  <br />
  <input
    type="password"
    name="password"
    required placeholder="Enter new password"
    style="
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
    "
  />
  <br />
  <input
    type="hidden"
    name="user_id"
    value="<%= user_id %>"
    required
    style="
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
    "
  />
  <br />
  <input
    type="submit"
    value="Reset password"
    style="
      width: 100%;
      background-color: #4CAF50;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    "
  />
  <br />
</form>

<% include('../layouts/footer.ejs') %>

